.journey-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.journey-step {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  border-radius: 14px;
  border: 1px solid #dee2e6;
  background: #f8f9fa;
  min-width: 207px;
}

.journey-step i {
  font-size: 22px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.status {
  font-size: 12px;
  color: #6c757d;
}

/* states */
.completed {
  background: #eefaf4;
  border-color: #35c38f;
  color: #198754;
}

.active {
  background: #eef4ff;
  border-color: #3b6ef3;
  color: #1f4fd8;

  .status{
     color: #1f4fd8;
  }
}

.pending {
  background: #f8f9fa;
  color: #6c757d;
}

.arrow {
  color: #35c38f;
}

/* progress bar */
.progress-line {
  height: 6px;
  background: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
}

.progress-active {
  width: 65%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg, #35c38f, #6ee7b7);
}

.card {border: 0;border-radius: 16px;}
h3{font-size: 1.4rem;}