<!-- <div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo1.png" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control" placeholder="Email address" aria-label="Username" aria-describedby="basic-addon2" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon3" />
            </div>
            <div class="form-group text-start mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" />
                <label for="checkbox-fill-2" class="cr">
                  Send me the
                  <a href="javascript:">Newsletter</a>
                  weekly.
                </label>
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-block mb-4">Sign up</button>
            </div>
            <p class="mb-2">
              Already have an account?
              <a [routerLink]="['/register']" class="f-w-400">Signin</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="signupwrap">
  <div class="auth-content">
<div class="login-wrapper d-flex align-items-center">

    <div class="row min-vh-100 align-items-center w-100">

      <!-- LEFT CONTENT -->
      <div class="col-lg-7 d-none d-lg-flex left-panel text-white">
        <div class="content">
          <div class="d-flex gap-2">
          <span class="wave">    
              <img id="main-logo" src="assets/images/Logo.svg" alt="logo-img" class="logo" style="height: 100px;" />
          </span>
          <h1 class="fw-bold mb-3 text-white">
            Arms License Management Portal 
          </h1>
          </div>

          <p class="lead mb-4">
            A secure government platform for managing arms and ammunition
            license applications, approvals, and renewals.
          </p>

          <ul class="list-unstyled feature-list">
            <li>✔ Online application & license renewal</li>
            <li>✔ Secure verification and approval workflow</li>
            <li>✔ License status tracking in real time</li>
            <li>✔ Compliance with Arms Act & Government norms</li>
            <li>✔ Role-based access for citizens & departments</li>
          </ul>
        </div>
      </div>

      <!-- RIGHT LOGIN CARD -->
      <div class="col-lg-5 d-flex justify-content-center">
        <div class="login-card shadow-lg">
          <h3 class="fw-bold mb-2">Welcome Back</h3>
          <p class="text-muted mb-4">Sign in to continue to <b>ALIMS</b></p>

          <form>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Enter Username">
            </div>

            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Enter Password">
            </div>

             <a href="#" class="btn btn-primary w-100 mb-3 p-2" style="padding: 13px 0 !important;">Login</a>

            <div class="text-center">
              <p class="mb-1">
                Don’t have an account?
                <a href="#" class="link-primary">Create one</a>
              </p>
              <a href="#" class="link-primary">Forgot Password? Reset</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  
</div>
</div>
</div>
